header {
    background-image: url('../imgs/background01.jpg');
    background-position: center;
    background-size: cover;
    height: 105px;
}
main {
    margin-top:115px;
    margin-bottom: 115px;
}
footer {
    background-image: url('../imgs/background02.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 25px;
    height: 80px;
}
.product-info{
    max-width: 300px;
}